html, body { margin: 0; height: 100%; width: 100%; background-color:var(--background); }
html, body, textarea, input, pre { font-family: var(--font-family); font-size:var(--body-font-size); font-weight:var(--body-font-weight); color:var(--background-inverse); }
textarea, input, select { padding:0px 8px; font-size:var(--input-font-size); font-family:var(--font-family); color:red; border:var(--input-border); border-radius:var(--input-radius); box-sizing:border-box; margin: 0px 4px 4px 0px; background:var(--input-background); }
input, select { height:var(--input-size); }
input:focus, textarea:focus, select:focus { border: 1px solid gray; outline:none; }
input, select, textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
::placeholder { color:var(--background-inverse); opacity:0.5; }
pre { white-space: pre-line; }
a { text-decoration:none; }
h1, h2, h3, h4, h5, h6 { margin-top: 8px; margin-bottom: 8px; text-align: center; }